html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 1rem = 10px */
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/** GLOBAL **/

.container {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4 {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
    line-height: 1.2;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
}
/** UTILITIES **/

.center-text {
    text-align: center;
}

.no-margin {
    margin: 0;
}

/** GRID **/
@media (min-width: 768px) {
    .grid {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .center-columns{
        justify-content: center;
    }

    .columns-4 {
        flex: 0 0 calc(33.3% - 1rem);
    }
    .columns-6 {
        flex: 0 0 calc(50% - 1rem);
    }
    .columns-8 {
        flex: 0 0 calc(66.6% - 1rem);
    }
    .columns-10 {
        flex: 0 0 calc(83.3% - 1rem);
    }
    .columns-12 {
        flex: 0 0 100%;
    }
}

/** BUTTONS **/

.btn {
    display: block;
    text-align: center;
    padding: 1rem 3 rem;
    margin: 2rem 0;
    color: #ffffff;
    text-decoration: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    flex: 0 0 100%;
}

.btn:hover{
    cursor: pointer;
}

@media (min-width: 768) {
    .btn {
        display: inline-block;
    }
}

.btn-primary {
    background-color: black;
}

.btn-secondary {
    background-color: #784d3c;
}

/** HEADER **/

@media (min-width:768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-header {
    background-image: url("../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 60rem;
}

.site-header a {
    color: #ffffff;
    text-decoration: none;
}

.site-header h1 {
    text-align: center;
    font-weight: 400;
}

.site-header span {
    font-weight: 700;
}

.site-header h2{
    margin-bottom: 2rem;
}

/** NAV **/

.nav a {
    text-align: center;
    display: block;
    font-size: 1.8rem;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 768px) {
    .nav a {
        display: inline;
        margin-right: 2rem;
    }
    .nav a last-of-type {
        margin: 0;
    }
}
/** HEADER TEXTO **/
.text-header {
    color: #ffffff;
    text-align: center;
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .text-header {
        margin-top: 15rem;
    }
}

.text-header p {
    font-size: 2.2rem;
}

/** MAIN HOME **/
.main-content {
    display: flex;
    flex-wrap: wrap;
}

.blog .courses {
    flex-grow: 0 0 100%;
}

.courses {
    order: -1;
}

@media (min-width: 768px) {
    .main-content {
        justify-content: space-between;
    }
    .blog {
        flex-basis: 66.6%;
    }
    .courses {
        flex-basis: calc(33.3% - 4rem);
        order: 2;
    }
}

/** OPTIONAL **/
/*.blog-entry{
    display: flex;
    justify-content: space-between;
}

.blog-entry .image{
    flex: 0 0 40%;
}

.blog-entry .blog-content{
    flex: 0 0 calc(60% - 2rem);
}*/

.blog-entry {
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
}

.blog-entry:last-of-type {
    border: none;
}

/** SIDEBAR COURSES **/
.courses-list {
    padding: 0;
    list-style: none;
}

.course {
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
}

.course:last-of-type {
    border-bottom: none;
}

.course p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.course p span,
.course p.description {
    font-weight: 400;
}

/** FOOTER **/
.site-footer {
    background-color: black;
    padding: 3rem 4rem;

}

.site-footer p {
    color: white;
    font-size: 4rem;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

.site-footer p span {
    font-weight: 700;
}

/** CONTACT US **/
.contactus-form {
    background-color: #ffffff;
    padding: 5rem;
}

@media (min-width: 768px) {
    .contactus-form {
        margin-top: -10rem;
    }
}

.contactus-form .field{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.contactus-form .field label{
    flex: 0 0 8rem;
}

.contactus-form .field input:not([type="submit"]),
.contactus-form textarea{
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem,
}

.contactus-form textarea{
    height: 20rem;
}

.contactus-form .send{
    display: flex;
    justify-content: flex-end;
}